# Python Output
- In Python, we use the **print()** function to display output to the standard output (usually the console or terminal). It can be used to print text, variables, or the result of an expression.

In [1]:
print("Hello, World!")

Hello, World!

In [ ]:
print("Hello", "World", sep=" @ ") #? sep is a keyword argument that specifies the separator between the strings. The default separator is a space character.
print("Hello", "World", end="@") #? end is a keyword argument that specifies the string that should be printed at the end of the output. The default value of the end argument is a newline character.

Hello @ World
Hello World@

In [3]:
print("Hello", end="!")
print("World")

Hello!World

In [4]:
name = "Siva"
age = 20
print("Name:", name, "Age:", age)

Name: Siva Age: 20

In [13]:
# preferrable one

name = "Siva"
age = 20
print (f"My name is {name} and I am {age} years old")

My name is Siva and I am 20 years old

In [6]:
id=48
name='siva'

print("my id is: {} and my name is: {}".format(id,name))

my id is: 48 and my name is: siva

# Errors

In [9]:
print(rama)

NameError: name 'rama' is not defined

In [10]:
print('navin's "laptop"') # print('nvins\'s "laptop"')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (621396709.py, line 1)