# Data Types
- Specifies the type of values assigned to variables
## 1. Fundamental Data Types 
- Can store only `one-value` inside the `object`.(`x=4`,`a=2.8`,`s="iragamreddy"`,`k=True`)

**int()**    -  `48`

**float()**  -  `42.68`

**bool()**   -  `True` (or) `False`

**complex()**-  `a+bj`

**str()**    -  `"siva"`

## 2. Advanced Data Structures or Containers
- Can store `multiple values` inside the `object`.

**list()** - `[8,'a',4.6,False]`

**tuple()** - `(8,'a',4.6,False)`

**set()** - `{8,'a',4.6,False}`

**dict()** - `{'car1':'TATA','car2':'Ferrari'}`

# int() - Numeric Value without decimal
- can be either negative or positive integer

In [235]:
a=8
print(a)

8

In [236]:
print(type(a)) # type of value
print(id(a))  # address

<class 'int'>
140736064674456

In [237]:
# there are four types of integral types
#? Decimal
#? Binary
#? Octal
#? Hexadecimal

# Decimal 0-9 and base is 10
a=10
print(a)

# Binary 0&1 and base is 2
b=0b1010 # 1*2^3 + 0*2^2 + 1*2^1 + 0*2^0 = 8+0+2+0 = 10
print(b)

# Octal 0-7 and base is 8
c=0o12 # 1*8^1 + 2*8^0 = 8+2 = 10
print(c)

# Hexadecimal 0-9 and A-F (10-15) and base is 16
d=0xB # 11
print(d)

e=0xface # 15*16^3 + 10*16^2 + 12*16^1 + 14*16^0 = 61440+2560+192+14 = 64206
print(e)

10
10
10
11
64206

# float() - Numeric value with decimal
- can be either negative or positive decimal

In [238]:
b=-8.4
print(b)

-8.4

In [239]:
print(type(b))

<class 'float'>

# Type Casting / Type Conversion

`int()` -----can be converted to-----> `str()`,`bool()`,`float()`

`float()` -----can be converted to-----> `str()`,`bool()`,`int()`

`bool()` -----can be converted to-----> `str()`,`int()`,`float()`

`str()` ------can be converted to-----> `int()` if it having only numerical data. `float()` if it having only decimal value
## Implicit Type Conversion (Automatic Conversion)
- Python automatically converts one data type to another based on the operation or task being performed. The conversion is done by the interpreter without the need for the user to explicitly specify it.

- No data loss occurs during this process.
- It usually happens when mixing types like `integers` and `floats`, where the integer is automatically converted to a float.

## Explicit Type Conversion (Manual Conversion)
- In explicit type conversion, also known as type casting, we manually convert one data type to another. This is useful when you want to control the data type for a specific operation or task.

- Data loss can occur during this conversion, especially when converting from a more complex type (e.g., `float`) to a simpler one (e.g., `integer`).
- You need to use Python's built-in functions like `int()`, `float()`, `str()`, etc., to perform explicit type conversion.

**`str()`,`bool()`,`float()` -----can be converted to-----> `int()`**

In [240]:
int(True) # bool to int

1

In [241]:
int(False) # bool to int

0

In [242]:
int(42.12) # float to int

42

In [243]:
int("1234")  # str to int when only having pure numeric data

1234

In [244]:
 #! int("24.86") # '.' considered as character so can't convert

**`str()`,`bool()`,`int()` -----can be converted to-----> `float()`**

In [245]:
float(48) # int to float

48.0

In [246]:
float(True) # bool to float

1.0

In [247]:
float(False) # bool to float

0.0

In [248]:
float("42.68") # str to float when only having pure numeric data

42.68

In [249]:
float("42")  # str to float when only having pure numeric data

42.0

**`str()`,`int()`,`float()` -----can be converted to-----> `bool()`**

In [250]:
bool("anything in string even '.' 'space' also gives True") # str to bool

True

In [251]:
# Empty str to bool
bool("")  #? only `Empty str`,`Empty sequence` >> [],(),{} << and `None` values gives false

False

In [252]:
# Empty Sequences
print(bool({}))
print(bool(()))
print(bool([]))
print(bool(set()))

False
False
False
False

In [253]:
print(bool({1:2,2:4}))
print(bool((1,2)))
print(bool([1,2]))
print(bool(set([1,2])))

True
True
True
True

In [254]:
# None to bool
bool(None)

False

In [255]:
# int to bool
bool(1) # except 0(zero) any number even -1 also gives as True

True

In [256]:
bool(24567891)

True

In [257]:
# int to bool
bool(0) # except 0(zero) any number even -1 also gives as True

False

In [258]:
bool(-8)

True

In [259]:
# float to bool
bool(22.48) # except 0.0(zero) any decimal even -2.0 also gives as True

True

In [260]:
# float to bool
bool(0.0)

False

**`str()` ------can be converted to-----> `int()` if it having only numerical data. `float()` if it having only decimal value**

In [261]:
# int to str
str(1234)

'1234'

In [262]:
 #! print(str(12ab)) # can you say `12ab` is what type of data? Then how can you convert it to str

In [263]:
# float to str
str(24.80)

'24.8'

In [264]:
# bool to str
str(True)

'True'

In [265]:
# bool to str
str(False)

'False'

#### **There is another functions like round()**
- gives round value from `float` to `int`
- it takes ***`nearest even number`*** when exactly half the way of value matched.
- suppose:
    - if a=1.50 then
    - round(a) is 2 (even)

In [266]:
p=1.49 
q=1.50
r=4.51
s=4.50
print(round(p)) # nearest value is 1
print(round(q)) # nearest even number is 2
print(round(r)) # nearest value is 5
print(round(s)) # nearest even number is 4

1
2
5
4

# bool() - `True`/`False`

- The bool() function in Python is used to convert a value to either `True` or `False` based on its truthiness.

**Truthiness in Python:**
In Python, values are considered truthy (evaluates to `True`) or falsy (evaluates to `False`) based on their content.

## True Values:

Non-zero numbers (e.g., `1`, `3.5`,`-4.5`) are considered truthy

Non-empty sequences (e.g., `"hello"`, `[1, 2, 3]`)

Objects that represent meaningful data

## False Values:

`None`

`0` (zero)

`False`

Empty sequences or collections (e.g., `""`, `[]`, `{}`, `()`)

In [267]:
# True values
print(bool(1))        # True
print(bool("hello"))  # True
print(bool([1, 2]))   # True

True
True
True

In [268]:
# False values
print(bool(0))        # False
print(bool(""))       # False
print(bool(None))     # False
print(bool(()))       # False
print(bool([]))       # False
print(bool({}))       # False
print(bool(set()))    # False

False
False
False
False
False
False
False

In [269]:
a1=True
print(a1)
print(type(a1))

True
<class 'bool'>

In [270]:
int(True)

1

In [271]:
b1=False
print(b1)
print(type(b1))

False
<class 'bool'>

In [272]:
int(False)

0

# Complex
- Complex literals can be created by using the notation `x+yj` where `x` is the real component and `y` is the imaginary component.

In [273]:
z=10+20.6j

In [274]:
type(z)

complex

In [275]:
z.real

10.0

In [276]:
z.imag

20.6

In [277]:
 #! int(10+5j)

In [278]:
complex(4.2) # float to complex

(4.2+0j)

In [279]:
complex(2) # int to complex

(2+0j)

In [280]:
complex(True) # bool to complex

(1+0j)

In [281]:
complex('4.8') # str to complex

(4.8+0j)

## Mutable:
- *we can modify(`add`,`replace`,`remove`) the value within same object (id constant)*
    - list()
    - set()
    - dict()


## Immutable:
- *we can't modify(`add`,`replace`,`remove`) the value within same object (id will be changed)*

    - int()
    - float()
    - bool()
    - complex()
    - str()
    - tuple()

# str() - Only Text based non-numeric format
- a combinaion or sequence of characters represents in quotes ' '," "(alphabets, numbers, special character)

In [282]:
i="siva prasad"
i

'siva prasad'

In [283]:
type(i)

str

In [284]:
a="iragamreddy"
b="siva48"
c="ABCD@xyz1221"
d="4884"
type(d)

str

## indexing( access chars in a str() )
- strings can be indexed - often synonymously `subscriptable`(index & slicing) as well.
- The first character of a string has the index 0(zero).

In [285]:
var="siva prasad"

'''
   (+)    (-)
s= 0 (or) -11 
i= 1 (or) -10
v= 2 (or) -9
a= 3 (or) -8 
'space'= 4 (or) -7 # space is also considered as character
p= 5 (or) -6 
r= 6 (or) -5
a= 7 (or) -4 
s= 8 (or) -3 
a= 9 (or) -2
d= 10 (or) -1
'''

"\n   (+)    (-)\ns= 0 (or) -11 \ni= 1 (or) -10\nv= 2 (or) -9\na= 3 (or) -8 \n'space'= 4 (or) -7 # space is also considered as character\np= 5 (or) -6 \nr= 6 (or) -5\na= 7 (or) -4 \ns= 8 (or) -3 \na= 9 (or) -2\nd= 10 (or) -1\n"

In [286]:
var[0]

's'

In [287]:
var[-11]

's'

In [288]:
var[10]

'd'

In [289]:
var[-1]

'd'

In [290]:
var[4] #space gap

' '

In [291]:
 #! var[11] #str out of range

## Slicing
### [ start:stop:skip ]
    
      start - from where to start 
      stop - where we need to stop(n-1)
      skip - how many chars you need to skip(n-1)
- default increment is +1
- and remember if stop=n then it takes n-1
    - ex; stop=9 actually index[9] is 'a'
    - but, it gives only index[n-1]=8 so it stops at 's'


<pre>
 + --> 0  1  2  3  4  5  6  7  8  9  10    
<strong>var =  s  i  v  a     p  r  a  s  a  d</strong>
      -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1    ← negative index(-)
</pre>


- direction is always from `left -->right` for `start and stop`   **ex: [`1:5`]**
- if from `right to left`(`<--`), then it returns empty str `''`  **ex: [`-1:-5`]**
- but there is another solution, that is decrement in skip  **ex: [`-1:-5:-1`]**

- for increment the direction always from `left to right`
- for decrement the direction always from `right to left`

In [292]:
var[0:4] #[start:stop]

'siva'

In [293]:
var[0:5] #space also a special char

'siva '

In [294]:
var[0:10] #stop---->> (n-1)

'siva prasa'

In [295]:
var[0:11] # in indexing var[11] is out of range in previous indexing but here we are using slicing so it will not give error

'siva prasad'

In [296]:
var[0:14] # here you can give any stop index, but it will print only 0 to 10 chars

'siva prasad'

In [297]:
var[0:-1] # 0 to -1 >> siva prasa

'siva prasa'

In [298]:
var[-1] # from reverse

'd'

In [299]:
var[0:-5]

'siva p'

In [300]:
var[0:-1:2] # it skip char one by one (2-1=1)

'sv rs'

In [301]:
var[0:11:2] # above -1 not included but here we included 10 or -1 also thats why 'd' willl be printed

'sv rsd'

In [302]:
var[0:11:4] # from start to end, it will skip 3chars and next 4th one will be printed again same logic

#               var='siva prasad'
#               var[0:11:4] 

# stop >> 11-1=10
# skip >>  4-1=3

# '(s)iva( )pra(s)ad'  ---->> 'space gap' also a char

# 's s' is the answer

's s'

In [303]:
var[:11] # it takses intial starting index if we dont give

'siva prasad'

In [304]:
var[0:] # same for stop also and includes last char

'siva prasad'

In [305]:
var[::] # initial start, final end char and default skip

'siva prasad'

In [306]:
var[::-1] # reverse order here direction is left to right but decrement will happens

'dasarp avis'

In [307]:
var[-1:-8] # direction is <-- right to left and default increment 1. So empty str ''

''

In [308]:
var[1:1] # start stop same point gives empty str

''

In [309]:
var[-5:-1] # we saw in above example

'rasa'

In [310]:
var[-1:-5] # we saw explaination in above example & default increment is 1

''

In [311]:
var[-1:-5:-1] # we saw in above example but here direction is left to right and decrement(-1) will happens

'dasa'

In [312]:
var[0:11:1] # default skip is 1 ----->> (n-1)

'siva prasad'

In [313]:
var[0:11:-1] # direction is left to right and decrement will happens

''

In [314]:
id(var)

2627157796912

## string methods
var.method()

**length of the string**
- len(str_var) - gives no.of characters in string

In [315]:
# 'space gap' is also known as special character, so len function counts 'space gap' also 
f="siva prasad"
age=22
print(f)
len(f) # this is global function/method applicable sequence data types like str, list, tuple, set, dict

siva prasad

11

In [316]:
print(f"""
s=1 
i=2 
v=3 
a=4 
'space'=5 
p=6 
r=7 
a=8 
s=9 
a=10
d=11
""")

s=1
i=2
v=3
a=4
'space'=5
p=6
r=7
a=8
s=9
a=10
d=11

### f string

- can use in print fns to access variables and structured output

In [317]:
print(f'''
My name is {f}.
My age is {age} ''')

My name is siva prasad.
My age is 22

**String concatenation**
- Joining of two or more strings into single string is called concatenation.
- `Note:`when we use **+** operator both are in string format only

In [318]:
surname="iragamreddy"
name="siva"

In [319]:
c_name=name + surname # it combines without gap
print(c_name)

sivairagamreddy

In [320]:
c_name=name+" "+surname # I seperate with 'space gap'
print(c_name)

siva iragamreddy

**"symbol/char".join([var,var])**

In [321]:
c_name_with_gap = "@".join([name, surname]) # I join with '@' gap you can try with 'space gap' also
print(c_name_with_gap)
type(c_name_with_gap)

siva@iragamreddy

str

In [322]:
print(f"{name} {surname}") # for just printing purpose

siva iragamreddy

In [323]:
'iragamreddy'+'siva'

'iragamreddysiva'

In [324]:
'iragamreddy'+' '+'siva'

'iragamreddy siva'

In [325]:
 #! "hello"+24 # str + int gives error, only str and str

In [326]:
"hello"+"24"

'hello24'

#### **' '.join() -** join a list of strings into a single string, using specified delmeter

In [327]:
s1,s2,s3,s4='Iragamreddy','Siva','Prasad','Reddy'
s1+' '+s2+' '+s3+' '+s4

'Iragamreddy Siva Prasad Reddy'

In [328]:
' '.join([s1,s2,s3,s4]) # only str data types can be joined with space, not sequence/iterable data types

'Iragamreddy Siva Prasad Reddy'

In [329]:
'::'.join([s1,s2,s3,s4]) # you can give anything as delimeter

'Iragamreddy::Siva::Prasad::Reddy'

In [330]:
 #! ' '.join(s1,s2,s3,s4) # .join only takes one argument so we need to give in iterables(list,tuple)

#### **capitalize  -** Capitalises only first letter and remaining all to small (Sentence case in Msword)

In [331]:
p="gooD moRNing. Hello"

In [332]:
p.capitalize()

'Good morning. hello'

#### **title -** Capitalize first letter of `each word` and remaining all to small

In [333]:
p.title()

'Good Morning. Hello'

#### **upper -** converts complete string to `upper case`

In [334]:
p.upper()

'GOOD MORNING. HELLO'

#### **lower -** converts complete string to `lower case`

In [335]:
p.lower()

'good morning. hello'

#### **swapcase -** convert lower to upper and upper to lower

In [336]:
print(p)
p.swapcase()

gooD moRNing. Hello

'GOOd MOrnING. hELLO'

#### **str.index() -** returns index number of first occurence of the given 'string' for specified selection. also raises erros if not found

In [337]:
z2="Pytho is very very popular lang"
print(len(z2))
z2.index('P') # returns index of first occurance of 'P'

31

0

In [338]:
z2.index('Pyth')

0

In [339]:
z2.index('la')

23

In [340]:
z2.index('g')

30

In [341]:
z2.index('very') # first occurence

9

In [342]:
 #! z2.index('java') # not found error

#### **find -** To find a string in the input string, but returns -1 if value is not present

- so which one is better throwing error (or) returning -1 if value is not present? think about it!

In [343]:
z2

'Pytho is very very popular lang'

In [344]:
z2.find('Pyth')

0

In [345]:
p

'gooD moRNing. Hello'

In [346]:
# can you guess why it gves -1 as output? bcoz, unknown string value always -1.
# 'morning' is not present in string. strings are case sensitive.
p.find('java')

-1

In [347]:
p.find('moRNing') # give as it is present in string, str is case sensitive

5

In [348]:
p.find('morning') # give as it is present in string, str is case sensitive

-1

**str.lower().find()**

In [349]:
# otherwise use lower(), this is best practice
p.lower().find('morning') 
# ? >> 1. holds 'morning' in hand(memory) and then
# ? >> 2. apply lower() method on 'p' string and finally 
# ? >> 3.then find the index of 'morning' in 'p' string
# p.find('morning').lower() # gives error bcoz, first find the index and then apply lower()

5

#### **count -** To count `how many times` the string is is available in main string

In [350]:
p

'gooD moRNing. Hello'

In [351]:
p.count('o') # 4 times 'o' repeated in string

4

In [352]:
p.count('oo')

1

In [353]:
p.count('g')

2

In [354]:
p.count('Hello')

1

In [381]:
name="siva prasad" # simple interview question keep remember
name.count('s')

2

#### **split -** split words and returns a list of words.
- by default split with space.
- we can also customize according to our needs.

    - syntax:
      - `str.split("delimeter")`  # symbol/char >> delimeter

In [355]:
p

'gooD moRNing. Hello'

In [356]:
p.split()

['gooD', 'moRNing.', 'Hello']

In [357]:
q='hi,hello when where.siva.prasad' # default delimiter is 'space gap'
q.split()

['hi,hello', 'when', 'where.siva.prasad']

In [358]:
q.split(',') # delimeter is ','

['hi', 'hello when where.siva.prasad']

In [359]:
q.split('.')

['hi,hello when where', 'siva', 'prasad']

In [360]:
# change the string to list conversion
d=q.split()
print(d)
type(d)

['hi,hello', 'when', 'where.siva.prasad']

list

In [361]:
p1='hi:hello::when@where,siva.prasad' # we can only split if we have delimiter in string
p1.split(':')

['hi', 'hello', '', 'when@where,siva.prasad']

In [362]:
p1.split('::')

['hi:hello', 'when@where,siva.prasad']

In [383]:
import re

words = re.split(r'[:@,.]', p1)
print(words)

['hi', 'hello', '', 'when', 'where', 'siva', 'prasad']

#### **join -** it will joins all list of elements into a string

In [385]:
q1=['i','am','siva','prasad']
print(q)

hi,hello when where.siva.prasad

In [386]:
r=["hi", "hello", "where", "when"] # list
''.join(r) # joins without any gap

'hihellowherewhen'

In [388]:
 #! ' '.join((r,q)) # throw error bcoz, we can't join list and list only can be joined with strings

In [389]:
'::'.join(r) # we can join with whatever we want as delimiter

'hi::hello::where::when'

In [ ]:
'*'.join(q)

'i*am*siva*prasad'

In [ ]:
# list to string conversion
r=["hi", "hello", "where", "when"]
a1=''.join(r) # joins without any
print(a1)
type(a1)

hihellowherewhen

str

#### **strip -** remove leading and trailing whitespaces(starting,ending)

In [ ]:
l1="  hello python   " # first and last spaces
l1.strip()

'hello python'

In [ ]:
l1.lstrip() # left strip - only left side spaces removed

'hello python   '

In [ ]:
l1.rstrip() # only right side spaces removed

'  hello python'

#### **replace -** replace old string data with new string data

In [390]:
s="good morning"
print(s)
id(s)

good morning

2627158061424

In [391]:
s.replace("good", "bad") # str.replace('old word', 'new word')

'bad morning'

In [392]:
s=s.replace("good", "bad") # id & object will be changed bcoz str is immutable
print(s)
id(s)

bad morning

2627141450224

#### **str.removeprefix -** first chars

In [ ]:
s.removeprefix('bad')

' morning'

**str.removesuffix -** last chars

In [ ]:
s.removesuffix('ing')

'bad morn'

## bool output type

In [394]:
t='Siva1234'
u='prasad'
w='9866'

In [395]:
print(t.isdigit()) # is it int only?
print(u.isdigit())
print(w.isdigit())

False
False
True

In [396]:
print(t.isalpha()) # is it only text?
print(u.isalpha())
print(w.isalpha())

False
True
False

In [397]:
print(t.isalnum()) # is it alphanumeric(text or numeric)
print(u.isalnum())
print(w.isalnum())

True
True
True

In [398]:
print(t.isupper()) # is it in uppercase?
print(u.isupper())
print(w.isupper())

False
False
False

In [399]:
print(t.istitle())
print(u.istitle())
print(w.istitle())

True
False
False

In [400]:
print(t.islower())
print(u.islower())
print(w.islower())

False
True
False

In [401]:
print(t.isspace())
print(u.isspace())
print(w.isspace())

False
False
False

In [402]:
print(t.endswith('1234')) 
print(u.endswith('d'))
print(w.endswith('a'))


# # backend code
# print(t[-4:]=='1234')
# print(u[-1:]=='d')
# print(w[-1:]=='a')

True
True
False

In [404]:
# # backend code for endswith
# t='example1234'
# u='datad'
# w='9866'

# def endswith(string, suffix):
# """
# This function checks whether the given string ends with the specified suffix.
# :param string: The string to check.
# :param suffix: The suffix to check for.
# :return: True if the string ends with the suffix, False otherwise.
# """
#     return string[-len(suffix):] == suffix

# print(endswith(t, '1234'))  # Output: True
# print(endswith(u, 'd'))     # Output: True
# print(endswith(w, 'a'))     # Output: False
# print(endswith(t, '123'))   # Output: False

In [ ]:
print(t.startswith('Siva'))
print(u.startswith('pr'))
print(w.startswith('98'))

True
True
True

In [ ]:
def add(a,b):
    c=a+b
    return c

add(40,20)

60

In [ ]:
pow(2,4) # 2 power 4 = 16
# backend code is 
# def pow(a,b):
#     c=a**b
#     return c
# pow(2,4)

16

In [403]:
x='Iragamreddy Siva Prasad Reddy'
print(x.count('a'))

5