# Advance Data Types or Basic Data Structures
**They can store `multiple values`.**

**Mutable**   - lists, dictionaries, sets

**Immutable** - like tuples, fundamental data types

`allows duplicate data` - lists, tuples

`does not allow duplicate data` - set, dictionaries(keys doen't allow but however values allow duplicates)


**Data Structures in Python**

- **Lists**: Ordered collection of items that can be of any data type, including strings, integers
- **Tuples**: Ordered collection of items that can be of any data type, including strings,
- **Dictionaries**: Unordered collection of key-value pairs
- **Sets**: Unordered collection of unique items
- **Also Stack, Graph, Tree, Queue**
**Data Structures in Python**

# List
- It is one of the most used data type in python and is very flexible
- Each values inside the list called as item/element.
- List is ordered collection of items which can be of any data type (strings, integers, floats
, lists, dictionaries,tuples etc.) and are ordered and
changeable.
- List is denoted by square brackets `[]` and items are separated by comma(,).
- List is mutable, means it can be changed after it is created within the same object.

**Empty List**
- To create empty list, you can use empty square brackets [] or list() to a variable.

In [1]:
r=[] # we can use for later/future purpose
r

[]

In [2]:
r1=list()
print(type(r1))
r1

<class 'list'>

[]

In [3]:
r2=[1,2,3,4,5]
print(type(r2))
r2

<class 'list'>

[1, 2, 3, 4, 5]

In [4]:
r3=['siva',4,True,2+4j,8.60,'siva',4] # allows duplicates
r3

['siva', 4, True, (2+4j), 8.6, 'siva', 4]

In [50]:
r3=list(('siva',4,True,2+4j,8.60,'siva',4)) # generally list() is accept only one argument 
r3

['siva', 4, True, (2+4j), 8.6, 'siva', 4]

**Nested List**
- list in a list [[]]

In [6]:
r4=['iragam',['reddy',48,64.28,'zephy'],'siva','parasad',1,2,3,4] # ['reddy',48,64.28,'zephy'] considered as single element
type(r4)

list

**len(list_var) -** gives no.of items inside the list even the nested list,tuple,dict also considred as item

In [7]:
len(r4) # len fun don't count from 0 like indexing

8

In [8]:
len(r4[1]) # len applicable for nested list also

4

In [9]:
len(r4[0]) # str also has len fun

6

In [10]:
len(r4[1][0]) # str also has len fun

5

In [11]:
# len(r4[-1]) # TypeError: object of type 'int' has no len()

## **list indexing**

In [51]:
print(r4[0])
type(r4[0])

iragam

str

In [13]:
print(r4[0][1]) # str also has indexing
type(r4[0])

r

str

In [14]:
print(r4[1])
type(r4[1])

['reddy', 48, 64.28, 'zephy']

list

In [15]:
print(r4[1][0]) # we access the index of inside list
type(r4[1][0])

reddy

str

In [16]:
print(r4[1][0][1]) # str in nested list also has indexing 
type(r4[1][0])

e

str

In [17]:
print(r4[1][-1]) # we access the index of inside list
type(r4[1][-1])

zephy

str

In [18]:
# can you access 'h' from 'zephy'? yes, we can str() also subscriptable
print(r4[1][-1][3])
print(r4[1][3][-2])

h
h

## **slicing**
- Same string rules applicable for list also
- Make it `SSS` rule `[Start,Stop,Skip]`

In [19]:
r5=['ir',['reddy',48,64.28,'zephy'],'si','pa',1,2,3,4]

In [20]:
r5[0:5] # stop index is exclusive mean it will not include the stop index element

['ir', ['reddy', 48, 64.28, 'zephy'], 'si', 'pa', 1]

In [21]:
r5[5:0] # empty list, because start index is greater than stop index with default increment 1(positive)

[]

In [22]:
r5[5:0:-1] # step is -1(negative), so it will decrement the index, here nested list is also a normal element

[2, 1, 'pa', 'si', ['reddy', 48, 64.28, 'zephy']]

In [23]:
r5[1][0:4] # slicing for nested list also

['reddy', 48, 64.28, 'zephy']

In [24]:
r5[1][0:4:2] # slicing for nested list also

['reddy', 64.28]

In [ ]:
r5[1][5:0:-1] # in slicing no out of range error will come like indexing

['zephy', 64.28, 48]

In [52]:
r5[1][::-1]

['zephy', 64.28, 48, 'reddy']

In [59]:
# try to understand after knew the tuple concept, if you are at beginner level
r6=['ir',(['reddy',48,64.28,'zephy'],'si','pa',1,2),3,4]
print(r6)
print(f"length is {len(r6)}")
print(f'type of r6[1] is {type(r6[1])}')
print(f'type of r6[1][0] is {type(r6[1][0])}')
print(f"type of r6[1][0][2] is {type(r6[1][0][2])}")

['ir', (['reddy', 48, 64.28, 'zephy'], 'si', 'pa', 1, 2), 3, 4]
length is 4
type of r6[1] is <class 'tuple'>
type of r6[1][0] is <class 'list'>
type of r6[1][0][2] is <class 'float'>

## **list concatenation**
- `list` can be only concatinate with `list`

In [73]:
r7=[1,2,3,4]
r8=['a','b','c','d']
print(r7+r8) # here we just print dont store so it just shows output for view
print(r7+['hi'])
print(id(r7))
print(id(r8))

[1, 2, 3, 4, 'a', 'b', 'c', 'd']
[1, 2, 3, 4, 'hi']
2866126464128
2866126464576

In [74]:
# using print is only for visual output, it dont perform any do's action.
print(r7)
r8

[1, 2, 3, 4]

['a', 'b', 'c', 'd']

In [68]:
print(id(r7))
r7=r7+r8 #? here we add two different objects into existed object so id will be changed also can't reuse frequently it adds duplicate data again & again. only methods don't changes object.
print(r7)
id(r7)

2866126397696
[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

2866126414272

In [75]:
r7

[1, 2, 3, 4]

In [ ]:
l1=[1,2]
l2=['f', 'g']

In [100]:
l1=l1+l2
print(l1)

[1, 2, 'f', 'g', 'f', 'g', 'f', 'g', 'f', 'g', 'f', 'g', 'f', 'g']

## **List methods**
- syntax - `list_var.method()`

In [30]:
r9=[10,20,30,40]
id(r9)

2866111178496

#### **list.append() -** append is used to add single element in the list at the end

In [31]:
print(id(r9))
print(r9)
r9.append(50) # append is a method, so it will not change the object, it will add the element to existed object
print(r9)
id(r9)

2866111178496
[10, 20, 30, 40]
[10, 20, 30, 40, 50]

2866111178496

In [32]:
r9.append([60,70]) # list in list
print(r9)
id(r9)

[10, 20, 30, 40, 50, [60, 70]]

2866111178496

In [33]:
r9.append((80,90)) # tuple in list
print(r9)
id(r9)

[10, 20, 30, 40, 50, [60, 70], (80, 90)]

2866111178496

In [34]:
# after knew the dictionary you'll understand
r9.append({'finale':100}) # dict in list
print(r9)
id(r9)

[10, 20, 30, 40, 50, [60, 70], (80, 90), {'finale': 100}]

2866111178496

#### **list.extend()**
- is a method that adds multiple elements from an iterable (like a `list, tuple, or string`) to the end of the list as elements.

- if you want to add single element each time then `list.append`, for multiple items `list.extend`

In [15]:
r10=[10, 20, 30, 40, 50]
print(r10)
id(r10)

[10, 20, 30, 40, 50]

2052451598144

In [16]:
r10.extend([60,70])
print(r10)
id(r10)

[10, 20, 30, 40, 50, 60, 70]

2052451598144

In [17]:
r10.extend((80,90))
print(r10)
id(r10)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

2052451598144

In [38]:
r10.extend({'finale':100}) # only keys will be added to the list
print(r10)
id(r10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 'finale']

2866111175360

#### **list.insert() -** 

- insert a spcific order and list.insert(x,y) will add element 'y' at location 'x'(must be integer)

- it just add the specific data at certain provided index, don't remove existing element

In [39]:
r11=['a','b','c','d']
print(r11)
id(r11)

['a', 'b', 'c', 'd']

2866110616256

In [40]:
r11.insert(0,'z') # it always push the element to the right side of the index
print(r11)
id(r11)

['z', 'a', 'b', 'c', 'd']

2866110616256

In [41]:
r11.insert(-1,['e','f']) # it always push the element to the right side of the index 
print(r11)
id(r11)

['z', 'a', 'b', 'c', ['e', 'f'], 'd']

2866110616256

In [42]:
r11.insert(-1,('g','h'))
print(r11)
id(r11)

['z', 'a', 'b', 'c', ['e', 'f'], ('g', 'h'), 'd']

2866110616256

#### **list.remove()**

- The **remove()** method removes the first occurrence of the `specified element` from the list.

In [43]:
r12=[10, 20, 30, 40, 50,'a','b']
print(r12)
id(r12)

[10, 20, 30, 40, 50, 'a', 'b']

2866110771712

In [44]:
r12.remove(10)
print(r12)
id(r12)

[20, 30, 40, 50, 'a', 'b']

2866110771712

In [45]:
r12.remove('a')
print(r12)

[20, 30, 40, 50, 'b']

In [18]:
 #! r12.remove([30,40]) # only one element will be accepted in remove method, we can't remove multiple elements
 #! print(r12)
 #! id(r12)

#### **list.pop() -** 
- to remove an item based on index number and by default it removes last item if we dont give any

In [19]:
r13=[10, 20, 30, 40, 60, 80, 70, 50]
print(r13)
id(r13)

[10, 20, 30, 40, 60, 80, 70, 50]

2052452087360

In [20]:
r13.pop()
print(r13)
id(r13)

[10, 20, 30, 40, 60, 80, 70]

2052452087360

In [21]:
r13.pop(0)
print(r13)
id(r13)

[20, 30, 40, 60, 80, 70]

2052452087360

In [22]:
r13.pop(1)
print(r13)
id(r13)

[20, 40, 60, 80, 70]

2052452087360

In [23]:
# r13.pop([1,4]) # only one element will be mentioned in pop method, we can't remove multiple elements
# print(r13)
# id(r13)

In [24]:
del r13[2:4] # delete multiple elements by slicing if you want only 2,4 only then for loop is required
print(r13)
id(r13)

[20, 40, 70]

2052452087360

In [26]:
r13=[10, 20, 30, 40, 60, 80, 70, 50]
print(r13)

[10, 20, 30, 40, 60, 80, 70, 50]

In [28]:
# if you want only 2,4 only then for loop is required
for i in [2,4]: #? don't confuse after first loop the index pattern will be changed so it will not delete the 4th index it will deletes 5th index.
    del r13[i]
    # r13.pop(i)
print(r13)
id(r13)

[10, 20, 60, 70]

2052467103232

#### **list.clear**
- clear all elements in a list and returns empty list

In [ ]:
r14=['a','b','c','d',1,2,3,4]
print(r14)
id(r14)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

2950837124352

In [ ]:
r14.clear()
print(r14)
id(r14)

[]

2950837124352

#### **list.sort()**
- by default it will change from `ascending order to descending order`
- for desceding to ascending order `list.sort(reverse=True)`
- list can be only either in `numeric` or `non-numeric`
- if list contains both `numeric` and `non-numeric` then it will throw an error

In [ ]:
r15=[1,20,4.2,8,5,6]
print(r15)
id(r15)

[1, 20, 4.2, 8, 5, 6]

2950834940096

In [ ]:
r15.sort()
print(r15)
id(r15)

[1, 4.2, 5, 6, 8, 20]

2950834940096

In [ ]:
r16=['s','S','i','v','A','a'] # it takes ASCII values for sorting A-97 to Z-122(first preference capital), a-65 to z-90(second preference small)
r16.sort()
print(r16)

['A', 'S', 'a', 'i', 's', 'v']

In [ ]:
r17=['Siva','ismart','Vanana','atom'] # it will sort based on first letter of the each string
r17.sort()
print(r17)

['Siva', 'Vanana', 'atom', 'ismart']

**sorted(vars) -**  global fn

In [ ]:
# list.sort() is method of list
# sorted() is function of python
# list.sort() is inplace method 'inplace'=same object
# sorted() is not inplace method
# list.sort() is only for list
# sorted() is for all iterable objects

r18=[2,4,3,1]
print(f"r18 is {r18}")
print(f"id of r18 is '{id(r18)}'")
print(sorted(r18))
r19=sorted(r18) # we assign to another object so id will be changed
print(f"r19 is '{r19}'")
f"id of r19 {id(r19)}"

r18 is [2, 4, 3, 1]
id of r18 is '2950836913280'
[1, 2, 3, 4]
r19 is '[1, 2, 3, 4]'

'id of r19 2950817896576'

#### **list.reverse()**
- it will reverse the list by index order

In [ ]:
r20=[2,4,6,8,['a',11],'c','d','e','f']
print(r20)
id(r20)

[2, 4, 6, 8, ['a', 11], 'c', 'd', 'e', 'f']

2526830730432

In [ ]:
r20.reverse()
print(r20)
id(r20)

['f', 'e', 'd', 'c', ['a', 11], 8, 6, 4, 2]

2526830730432

In [ ]:
r20[::-1] # it will not change in the object, it will just print the reverse order of the object

['f', 'e', 'd', 'c', ['a', 11], 8, 6, 4, 2]

#### **list.count() -** frequency of specified value in a list

In [ ]:
r21=[1,2,3,4,5,6,2,4,8,9,1]
print(r21.count(4))

2

In [ ]:
r22=['siva','prasad','siva','a','b','a','c',['a','b'],'w']
print(r22.count('a'))

2

In [ ]:
# count chars in a string
name="iragAmreddy siva prasad Reddy"
print(name.count('a'))

4

#### **list.copy()**     # shallow copy
- shallow copy is like xerox copy
- it copies the reference of the original list

In [ ]:
r23=[1,2,3,4,5]
print(r23)
print(id(r23))

[1, 2, 3, 4, 5]
2950837212672

In [ ]:
r24=r23.copy() # it creates another object and copy all the elements from existed object
print(r24)
print(id(r24))

[1, 2, 3, 4, 5]
2950836873024

In [ ]:
r24.append(6) # everytime you execute you append item again and again
print(f"r23 is '{r23}'")
print(f"r24 is '{r24}'")

r23 is '[1, 2, 3, 4, 5]'
r24 is '[1, 2, 3, 4, 5, 6]'

In [ ]:
r23.extend([6,8]) # everytime you execute cell everytime it extends same item
print(r23)

[1, 2, 3, 4, 5, 6, 8]