# Tuples
- Once object will be created, then we `can't change the data` like list.
- Tuple is `immutable`

## Use Cases
- **Returning multiple values**: Functions can return multiple values using tuples.
- **Unpacking**: Tuples can be unpacked into variables.
- **Dictionary keys**: Tuples can be used as keys in dictionaries because they are immutable.
- **Immutable data**: Tuples are immutable, which makes them useful for storing data that should not be changed.
- **Efficient memory usage**: Tuples use less memory than lists because they are immutable.
- **Hashable**: Tuples are hashable, which means they can be used as keys in dictionaries.
- **Faster execution**: Tuples are faster than lists because they are immutable.

**Empty Tuple**

In [45]:
t=()
print(t)
print(type(t))
id(t)

()
<class 'tuple'>

140727743968952

In [46]:
# if in tuple only a single value present then it considers the value as fundamental dtype
z=('string')
print(type(z))
z=(1)
print(type(z))
z=(2.6)
print(type(z))
z=(True)
print(type(z))
z=([1])
print(type(z))
z=({1})
print(type(z))
z=({'a':1})
print(type(z))
z=((2))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'int'>

- **Tuple is heterogenous(store any type of data)**

In [47]:
t1=(2,4,'siva',[6,8],'python',11,22)
t1

(2, 4, 'siva', [6, 8], 'python', 11, 22)

**Nested Tuple -** tuple in tuple

In [48]:
t2=(2,4,'siva',[6,8],'python',(42,86,'hi','boys'),11,22)
t2

(2, 4, 'siva', [6, 8], 'python', (42, 86, 'hi', 'boys'), 11, 22)

#### **tuple indexing**

In [49]:
t2[2]

'siva'

In [50]:
t2[5][2][0] # str is subscriptable

'h'

#### **tuple slicing**

In [51]:
t2[0:4]

(2, 4, 'siva', [6, 8])

In [52]:
t2[5][::-1]

('boys', 'hi', 86, 42)

#### **tuple is immutable**

In [53]:
t3=('boys', 86, 42, 'hi', 2008, 1988)
t3

('boys', 86, 42, 'hi', 2008, 1988)

In [54]:
t3[0]

'boys'

In [55]:
 #! del t3[0] # tuple dont allow to modify or delete/remove any data inside object

In [56]:
del t3 # this deletes whole tuple

## **Tuple Methods**
- tuples are immutable so very less methods

**Note:** we can convert tuple to list and then perform needed tasks

##### **tuple.count(`specified item`) -** no.of items occured in the tuple

In [57]:
t4=(2,4,'siva',[6,8],'python',(42,86,'siva','prasad'),2,4)
t4 # tuple is immutable but the list inside tuple is mutable

(2, 4, 'siva', [6, 8], 'python', (42, 86, 'siva', 'prasad'), 2, 4)

In [58]:
t4.count(4)

2

In [59]:
t4.count('siva') # EX: how many having same name in a class register

1

In [60]:
t4.count((42,86,'siva','prasad'))

1

#### **tuple.index(`specified item`) -** it will gives the index position of specified character

In [61]:
t4.index('python')

4

In [62]:
t5=(8,6,2,9,5,1,7,4,3) # tuple dont have t.sort() method/attribute as it is immutable
#! t5.sort()

In [63]:
# so we need to use sorted() fn and assign to new variable. so the object id will be change
print(sorted(t5)) # just printing purpose
t6=sorted(t5)
t7=list(t6)

print(f"t6 is {t6}")
print(f"t7 is {t7}")
print(f"id of `t5` is {id(t5)}")
print(f"id of `t6` is {id(t6)}")
print(f"id of `t7` is {id(t7)}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
t6 is [1, 2, 3, 4, 5, 6, 7, 8, 9]
t7 is [1, 2, 3, 4, 5, 6, 7, 8, 9]
id of `t5` is 2018766936000
id of `t6` is 2018751080832
id of `t7` is 2018766633280

## Interview Question

t8=(1,2,3,4,[5,6],7,8)

can we add data in the list present inside tuple? if yes write code?

In [64]:
t8=(1,2,3,4,[5,6],7,8) # here we can use .extend() method to add elements to list inside tuple
t8[4].extend([10,11])
t8

(1, 2, 3, 4, [5, 6, 10, 11], 7, 8)

In [65]:
t8[4].append(12)
t8

(1, 2, 3, 4, [5, 6, 10, 11, 12], 7, 8)

- can you modify the value '10' to '100'?

In [66]:
t8[4][2]=100
t8

(1, 2, 3, 4, [5, 6, 100, 11, 12], 7, 8)

- can you clear the list present inside the tuple?

In [67]:
t8[4].clear()
t8

(1, 2, 3, 4, [], 7, 8)

- can you delete the whole list item??

Ans: It's not possible, the tuple don't allow to delete items.

In [68]:
 #! del t8[4]