# **Sets in Python**

- Sets can be used to perform mathematical set operations like `union, intersection, symmetric difference etc.,`

- A set is an **unordered collection (don't have index)** of `unique elements`. Sets are used to store multiple items in a single variable. 

- Sets are one of the built-in data structures in Python used to store collections of data, the others are List, Tuple, Dictionary, etc., all with different qualities and usage.

- Don't allow duplicate values, you can mention but it can't store

## Creating a Set
- You can create a set by placing all the items (elements) inside curly braces `{}`, separated by commas, or by using the built-in `set()` function.
- In Python, even though *two sets contain the same data, they will have different ids* because they are two distinct objects in memory.

**Ex:** Unique entries(id's) and can't use again & again

**Empty Set**

In [12]:
s=set() # this is the only way to create an empty set
print(s)
type(s)
id(s)

set()

2164176656352

In [13]:
# Creating a set
s1 = {4,5,2,1,1, 2, 3, 4, 5} # don't allow duplicates
print(s1)
print(type(s1))
print(id(s1))

# Creating a set using set() function
s2 = set((1, 2, 3, 4, 5,1,4,5,2)) # you can give any brackets [], (), {}
print(s2)
print(type(s2))
print(id(s2))

{1, 2, 3, 4, 5}
<class 'set'>
2164158751328
{1, 2, 3, 4, 5}
<class 'set'>
2164158750656

## Adding and Removing Elements
You can add elements to a set using the `add()` method, and remove elements using the `remove()` or `discard()` methods.

In [ ]:
# Adding elements to a set
s1.add(9)
print(s1)

# Removing elements from a set
s1.remove(3) #! If the element is not present, it raises a KeyError.
print(s1)

# Discarding elements from a set
s1.discard(2) #? if the element is not present, it does not raise an error.
print(s1)

{1, 2, 3, 4, 5, 9}
{1, 2, 4, 5, 9}
{1, 4, 5, 9}

## Set Operations
Sets support mathematical operations like union, intersection, difference, and symmetric difference.

In [20]:
# Set operations
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

# Union: all elements from both sets & no duplicates
# print(set_a | set_b)
print(set_a.union(set_b))

# Intersection: common elements between two sets
# print(set_a & set_b)
print(set_a.intersection(set_b))

# Difference: elements that are in set_a but not in set_b
# print(set_a - set_b)
print(set_a.difference(set_b))

# Symmetric Difference: elements that are in set_a or set_b but not common in both
# print(set_a ^ set_b)
print(set_a.symmetric_difference(set_b))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

## Set Methods
Here are some common set methods:
- `add()`: Adds an element to the set
- `remove()`: Removes an element from the set; raises KeyError if the element is not found
- `discard()`: Removes an element from the set if it is a member. If the element is not a member, do nothing
- `clear()`: Removes all elements from the set
- `copy()`: Returns a copy of the set
- `pop()`: Removes and returns an arbitrary element from the set; raises KeyError if the set is empty
- `update()`: Updates the set with the union of itself and others

In [36]:
# Demonstrating set methods
set_c = {1, 2, 3}

# add()
set_c.add(4)
print(set_c)

{1, 2, 3, 4}

In [37]:
# remove() - removes through index
set_c.remove(2)
print(set_c)

{1, 3, 4}

In [38]:
# discard()
set_c.discard(3)
print(set_c)

{1, 4}

In [39]:
# clear()
set_c.clear()
print(set_c)

set()

In [67]:
# copy()-actually this is global copy
set_d = {5, 6, 7}
set_e = set_d.copy()
print(set_e)

{5, 6, 7}

In [68]:
# pop()
print(set_d.pop()) # here the action is done, we print the popped element
print(set_d)

5
{6, 7}

In [74]:
# update()
set_d.update({8, 9}) # only mention elements in any iterable form
print(set_d)

{'s', 6, 7, 8, 9}

In [75]:
set_d.update(['s'])
print(set_d)

{'s', 6, 7, 8, 9}

In [77]:
set_d # we need to remember that set has contain only unique elements so it will not add 's' again & again

{6, 7, 8, 9, 's'}

In [85]:
set_f = {1, 2, 3}
set_g = {1, 2, 3, 4, 5, 6}

# isdisjoint(): returns True if two sets have a null intersection
print(set_f.isdisjoint(set_g))

# issubset(): returns True if all elements of set_f are present in set_g
print(set_f.issubset(set_g))

# issuperset(): returns True if set_f has all elements of set_g 
print(set_f.issuperset(set_g))

False
True
False

In [87]:
set_c = {1, 2, 3, 4}
u_input = list(eval(input("entere the values you want to add with ',': ")))
for i in u_input:
    set_c.add(i)
print(f"Your input values {u_input}\n")    
print(set_c)

Your input values [5, 6, 7, 8]

{1, 2, 3, 4, 5, 6, 7, 8}